nav{
    display: flex;
    position:sticky;
    top: 0;
    flex-direction: row;
    min-width: 90%;
    justify-content: space-between;
    padding: 10px 30px;
    min-height: 0.5rem;
    border-bottom: 1px solid grey;
    align-items: center;
    background-color: #242424;
}
.themeToggleButtons{
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    color: var(--color);
    border: var(--border);
    flex-basis: 20%;
    justify-content: center;
    gap: 10px;
}
.slideUp{
    transition: transform(translateY(0%)) 1s ease-out;
}
.slideUp:hover{
    transform: translateY(-5%);
}
span{
    font-size: xx-large;
    align-self: center;
    flex-basis: 80%;
}
